* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: gray;
    display: block;
}

header {
    position: fixed;
    border-bottom: 10px solid black;
}

header, footer {
    background-color: blue;
    height: 60px;
    width: 100%;
    
}

nav {
    display: inline;
    text-align: right;
}

section {
    height: 200px;
    width: 100%;
}

h1 {
    text-align: left;
    

}

h2 {

}